html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* MY STYLES */
.chip {
    height: 2rem;
    line-height: 1rem;
    border-radius: 1rem;
}
.display-7
{
    font-family: Arial;
    font-size: 2rem;
}
.display-8 {
    font-family: Arial;
    font-size: 1.7rem;
}
.display-9 {
    font-family: Arial;
    font-size: 1.4rem;
}
.display-10 {
    font-family: Arial;
    font-size: 1.1rem;
}

.display-blue-7 {
    color: blue;
    font-family: Arial;
    font-size: 2rem;
}

.display-blue-8 {
    color: blue;
    font-family: Arial;
    font-size: 1.7rem;
}

.display-blue-9 {
    color: blue;
    font-family: Arial;
    font-size: 1.4rem;
}

.display-blue-10 {
    color: blue;
    font-family: Arial;
    font-size: 1.1rem;
}

.display-blue-7 {
    color: blue;
    font-family: Arial;
    font-size: 2rem;
}

.display-header-1 {
    color: #505050;
    font-family: Arial;
    font-size: 3rem;
    margin: 2rem;
}

.display-header-2 {
    color: #505050;
    font-family: Arial;
    font-size: 2.5rem;
    margin: 2rem;
}

.display-header-3 {
    color: #505050;
    font-family: Arial;
    font-size: 2rem;
    margin: 2rem;
}


.bg-silver{
    background-color: silver !important;
}

.bg-pink {
    background-color: pink !important;
}

/*.bg-silver {
    background-color: silver;
}

.bg-silver {
    background-color: silver;
}

.bg-silver {
    background-color: silver;
}

.bg-silver {
    background-color: silver;
}*/