@page
@model Tests.Pages.AddQuestionBlockPageModel
@{
}


<div class="container">
    <div class="row">
        <form method="post" class="col-8 offset-2">
            <div>
                <label asp-for="QuestionBlockProp.Question"></label>
                <input asp-for="QuestionBlockProp.Question" class="form-control" type="text" id="Question" name="Question" required>
            </div>
            <div>
                <label asp-for="QuestionBlockProp.Answer1"></label>
                <input asp-for="QuestionBlockProp.Answer1" class="form-control" type="text" id="Answer1" name="Answer1" required>
            </div>
            <div>
                <label asp-for="QuestionBlockProp.Answer2"></label>
                <input asp-for="QuestionBlockProp.Answer2" class="form-control" type="text" id="Answer2" name="Answer2" required>
            </div>
            <div>
                <label asp-for="QuestionBlockProp.Answer3"></label>
                <input asp-for="QuestionBlockProp.Answer3" class="form-control" type="text" id="Answer3" name="Answer3" required>
            </div>
            <div>
                <label asp-for="QuestionBlockProp.Answer4"></label>
                <input asp-for="QuestionBlockProp.Answer4"  class="form-control" type="text" id="Answer4" name="Answer4" required>
            </div>
            <div>
                <label asp-for="QuestionBlockProp.RightAnswerNum"></label>
                <input asp-for="QuestionBlockProp.RightAnswerNum" class="form-control" type="number" id="RightAnswerNum" name="RightAnswerNum" required>
            </div>
            <button class="btn btn-secondary form-control" type="submit">Сохранить</button>
        </form>
    </div>
</div>
