@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container">
    <div class="row">
        <div class="card col-6">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-6"><a asp-page="TestPage"><img class="img-fluid" src="~/icons/testing.svg" style="max-height:12rem;" /></a></div>
                        <div class="col-6">переход на страницу выбора теста</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card col-6">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-6"><a asp-page="/AddingPages/AddingPanel"><img class="img-fluid" src="~/icons/settings.svg" style="max-height:12rem;" /></a></div>
                        <div class="col-6">переход на страницу добавления и редактирования тестов</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
       
        <div class="col-8 offset-2 bg-secondary  border border-1 rounded-3 my-4 p-2">
            @if (Model.RandomTests.Count() > 0)
            {
                @foreach (var e in Model.RandomTests)
                {
                    <div class="chip bg-light d-inline-flex m-1 small">
                        <a href="#" class="d-inline-flex m-2 text-decoration-none text-dark">@e.TestTitle</a>
                    </div>
                }
            }
            else
            {
                <div><p>Число тестов на @DateTime.Now.ToShortDateString() составляет @Model.TestCount</p></div>
            }
        </div> 
    </div>
</div>




