@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        @if(Model.Tests.Count > 0)
        {
            @foreach (var e in Model.Tests)
            {
                <div>@e.TestTitle</div>
            }
        }
        else
        {
            <div><p>Число тестов на @DateTime.Now.ToShortDateString() составляет @Model.CountProp</p></div>
        }
    </div>
</div>



