@page "{id?}"
@model Tests.Pages.AddDifficultyLevelPageModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-3">
            <img src="~/icons/difficulty.svg" class="img-fluid"/>
        </div>
        <form method="post" class="col-5">
            <div>
                <label asp-for="DifficultyLevelBP.Level"></label>
                <input asp-for="DifficultyLevelBP.Level" class="form-control" id="Level" name="Level" required>
            </div>
            <button class="btn btn-secondary form-control" type="submit">Добавить</button>
        </form>

        <div class="col-4">
            <div class="container">
                <div class="row">
                    @foreach (var e in Model.DifficultyLevels)
                    {
                        <div class="col-7">
                            <a href="#" class="btn btn-secondary form-control m-1">@e.Level</a>
                        </div>
                        <div class="col-5">
                            <a asp-page="AddDifficultyLevelPage" asp-page-handler="RemoveLevel" asp-route-id="@e.Id" class="btn btn-danger form-control m-1">Удалить</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
