@page
@model Tests.Pages.AddingPages.AddingPanelModel
@{
}
<h1>Adding Panel </h1>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-4 my-1">
            <div class="card bg-secondary h-100">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-6"><a asp-page="AddTestPage"><img class="img-fluid" src="~/icons/testing.svg" style="max-height:12rem;" /></a></div>
                            <div class="col-6">Добавить новый тест</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 my-1">
            <div class="card bg-secondary h-100">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-6"><a asp-page="AddQuestionBlockPage"><img class="img-fluid" src="~/icons/settings.svg" style="max-height:12rem;" /></a></div>
                            <div class="col-6">Редактировать тест (добавить/удалить вопросы)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        
        <div class="col-md-6 col-lg-4 my-1">
            <div class="card bg-secondary h-100">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-6"><a asp-page="AddDifficultyLevelPage"><img class="img-fluid" src="~/icons/settings.svg" style="max-height:12rem;" /></a></div>
                            <div class="col-6">Добавить/удалить уровни сложности</div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        
        <div class="col-md-6 col-lg-4 my-1 ">
            <div class="card bg-secondary h-100">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-6"><a asp-page="AddLanguagePage"><img class="img-fluid" src="~/icons/settings.svg" style="max-height:12rem;" /></a></div>
                            <div class="col-6">Добавить/удалить язык програмирования</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-lg-4 my-1">
            <div class="card bg-secondary h-100">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-6"><a asp-page="StatisticPage"><img class="img-fluid" src="~/icons/settings.svg" style="max-height:12rem;" /></a></div>
                            <div class="col-6">Статистика пользователей</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>