@page
@model Tests.Pages.AddingPages.AddTestPageModel
@{

}

<div class="container">
    <div class="row">
        <div class="col-3">
            <img src="~/icons/testing.svg" class="img-fluid"/>
        </div>
        <form method="post" class="col-9">
            <div>
                <label asp-for="AddingTest.TestTitle"></label>
                <input asp-for="AddingTest.TestTitle" class="form-control" name="TestTitle" required>
            </div>
            @if (!String.IsNullOrEmpty(Model.CurrentUserName))
            {
                <div>
                    <label asp-for="AddingTest.Author"></label>
                    <input asp-for="AddingTest.Author" class="form-control" name="Author" readonly required value="@Model.CurrentUserName">
                </div>
            }
            else
            {
                <div>
                    <label asp-for="AddingTest.Author"></label>
                    <input asp-for="AddingTest.Author" class="form-control" name="Author" readonly required value="Вход не выполнен">
                    <div class="d-flex justify-content-around">
                        <a class="btn btn-info text-dark flex-fill my-1 me-1" asp-area="Identity" asp-page="/Account/Register">Зарегистрироваться</a>
                        <a class="btn btn-info text-dark flex=fill my-1 ms-1" asp-area="Identity" asp-page="/Account/Login">Войти в аккаунт</a>
                    </div>
                   
                </div>
            }
            <div>
                <label asp-for="AddingTest.DifficultyLevel"></label>
                <select asp-for="AddingTest.DifficultyLevel" class="form-control" name="DifficultyLevel" required>
                    @foreach (var e in Model.Levels)
                    {
                        <option>@e.Level</option>
                    }
                </select>
            </div>
            <div>
                <label asp-for="AddingTest.Language"></label>
                <select asp-for="AddingTest.Language" class="form-control" name="Language" require>
                    @foreach (var e in Model.Languages)
                    {
                        <option>@e.LanguageTitle</option>
                    }
                </select>
            </div>

            <button class="btn btn-secondary form-control" type="submit">Сохранить</button>
        </form>
    </div>
</div>
