@page
@model Tests.Pages.AddingPages.AddTestPageModel
@{
}

<div class="container">
    <div class="row">
        <form method="post" class="col-8 offset-2">
            <div>
                <label asp-for="AddingTest.TestTitle"></label>
                <input asp-for="AddingTest.TestTitle" class="form-control" name="TestTitle" required>
            </div>
            <div>
                <label asp-for="AddingTest.Author"></label>
                <input asp-for="AddingTest.Author" class="form-control" name="Author" required>
            </div>
            <div>
                <label asp-for="AddingTest.DifficultyLevel"></label>
                <select asp-for="AddingTest.DifficultyLevel" class="form-control" name="DifficultyLevel" required>
                    @foreach (var e in Model.Levels)
                    {
                        <option>@e.Level</option>
                    }
                </select>
            </div>
            <div>
                <label asp-for="AddingTest.Language"></label>
                <select asp-for="AddingTest.Language" class="form-control" name="Language" require>
                    @foreach (var e in Model.Languages)
                    {
                        <option>@e.LanguageTitle</option>
                    }
                </select>
            </div>

            <button class="btn btn-secondary form-control" type="submit">Сохранить</button>
        </form>
    </div>
</div>
